span {background-color: green;

}

div {color: blue;}
    .hover {
        background-color: red;
        color: black;
        border-radius: 20px;
        border: 10px;
        margin: auto;
        padding: 35px;
        font-size: 100px;
    }
    .hover:hover{
        background:blueviolet;
        color: whitesmoke;
        font-size: 50px;
        border: dotted;
    }